@media (min-width: 600px) {
    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--light-background-color);
            color: var(--light-font-color);
        }
        a {
            color: var(--light-font-color);
        }
        .nav-item:hover {
            background-color: var(--light-hover-color);  
        }
        .nav-display {
            color: black;
        }
        
    }


}