:root {
    --light-font-color: #0f0f0f;
    --light-background-color: #f1f1f1;
    --light-hover-color: #c7c7c7;
    --font-style: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--light-background-color);
    color: var(--light-font-color);
    font-family: var(--font-style);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--light-background-color);
    position: sticky; /* this is sticky*/
}

a {
    text-decoration: none;
    color: var(--light-font-color);
}

.nav-link-container {
    position: absolute;
    right: 0;
    top: 3em;
    width: 100%;
    background-color: var(--light-background-color);
    -webkit-box-shadow: 0px 0px 79px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 79px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 79px -24px rgba(0, 0, 0, 0.75);
    user-select: none;
}

.nav-link {
    display: inline-block;
    padding: 0.2em;
    border-radius: 0.2em;
}

.nav-item {
    text-align: center;
    list-style: none;
}

.nav-display {
    cursor: pointer;
}

.hidden {
    display: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.search-bar-input {
    padding-left: 0.5em;
}

.search-bar-button {
    padding: 0.2em;
    font-size: 1em;
    background-color: transparent;
    border-width: 0.01em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 1em 0.2em 1em;
    background-color: var(--light-background-color);
}
