/* Resets page styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background-color: #f1f1f1;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}
